In [21]:
import pandas as pd
df = pd.read_excel("data6.xlsx")
print(df)
print(df.head(2))
print(df.tail(2))
df.info()
df.columns
df.describe()

   product  Quantity  price
0   pencil         2     44
1  shopner         3     44
2      ink         4     33
3    rober         5     55
   product  Quantity  price
0   pencil         2     44
1  shopner         3     44
  product  Quantity  price
2     ink         4     33
3   rober         5     55
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   product   4 non-null      object
 1   Quantity  4 non-null      int64
 2   price     4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes

       Quantity      price
count  4.000000   4.000000
mean   3.500000  44.000000
std    1.290994   8.981462
min    2.000000  33.000000
25%    2.750000  41.250000
50%    3.500000  44.000000
75%    4.250000  46.750000
max    5.000000  55.000000